<a
  [routerLink]="[index]"
  routerLinkActive="active"
  style="text-decoration: none; cursor: pointer"
  class="list-group-item"
>
  <div class="row">
    <div class="col-7">
      <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
      <p class="list-group-item-text">{{ recipe.description }}</p>
    </div>
    <div class="col">
      <img
        [src]="recipe.imagePath"
        alt="{{ recipe.name }}"
        class="img-responsive rounded-circle"
        style="max-height: 120px"
      />
    </div>
  </div>
</a>
